.page{
    min-height: 100vh;
    display: flex;
    width: 100%;
    padding: 80px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.page-title{
    color: var(--tertiary, #02081E);
    font-family: "Instrument Sans", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.search-icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search-bar{
    position: relative;
    width: 100%;
}

.search-input{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;

}

.add-btn{
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 24px;
    bottom: 72px;
    border-radius: 999px;
    background: #0D2B95;
}

.prod-card{
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #BDC0CE;
    background: #E9F0F5;
}

.left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.right-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}